<main>
  <div class="about-container">
    <img src="/assets/club-pic.png" alt="Club's Logo picture" class="club-pic">
    <div class="about-text">
      <h1>about us</h1>
      <p>
        Welcome to our programming club, a community dedicated to fostering growth, collaboration, and continuous learning. Our mission is to help each other develop programs and expand our knowledge in a supportive and welcoming environment.
        At our club, we believe in the following values:
        Kindness: We prioritize respect and kindness towards every member of our community. We encourage a culture of respect where everyone feels valued and appreciated.
        Mutual Assistance: We strongly believe in the power of collaboration and helping one another. Members are encouraged to support and assist each other in overcoming challenges and achieving their programming goals.
        Openness: We embrace a culture of curiosity and encourage members to ask questions freely. We understand that questioning leads to deeper understanding and growth.
        Courage: We encourage our members to step out of their comfort zones and take risks. We believe that by embracing new challenges and exploring uncharted territories, we can grow both personally and professionally.
        Curiosity: Learning is an exciting journey, and we celebrate the joy of discovering new things. We foster an environment where members can explore new technologies, share knowledge, and embark on learning adventures together.
      </p>
    </div>
  </div>
</main>
