<main>
  <div class="container-catalog">
    <div class="description-catalog">
      <h1>catalog</h1>
      <div class="greetings">
        <p>Welcome to the Move Fast and Break Thing's Catalog, where you can explore a diverse collection of programming projects brought to you by our vibrant community of club.</p>
      </div>
      <div class="greetings-two">
        <p>From web development and mobile apps to machine learning, our catalog showcases the remarkable work accomplished within our programming club community.</p>
      </div>
    </div>
    <div class="catalog-image">
      <img src="/assets/Minerva1.png" alt="Projects Image">
    </div>
  </div>

  <div class="app">
      <img src="/assets/Minerva1.png" alt="App 1" />
      <a href="#"><h3>Minerva</h3></a>
      <p>GPT-powered Discord bot built to help students learn software development</p>
  </div>

  <div class="app">
    <img src="/assets/masterpiece-creator.png" alt="App 2" />
    <a href="#"><h3>The Masterpiece creator</h3></a>
    <p>Masterpiece creator uses the discoart library to create Disco Diffusion artworks</p>
  </div>

</main>
