<main>
  <div class="main-container">
    <div class="description-catalog">
      <h1>catalog</h1>
      <div class="greetings">
        <p>Welcome to the Move Fast and Break Thing's Catalog, where you can explore a diverse collection of programming projects brought to you by our vibrant community of club.</p>
      </div>
      <div class="greetings-two">
        <p>From web development and mobile apps to machine learning, our catalog showcases the remarkable work accomplished within our programming club community.</p>
      </div>
    </div>
    <div class="catalog-image">
      <img src="/assets/projects-l.png" alt="Projects Image">
    </div>
  </div>
  
  <div class="catalog-list">
    <div class="app">
        <img src="/assets/Minerva1.png" alt="App 1" />
        <%= link_to project_a_path do%>
          <h3>Minerva</h3>
        <% end %>
        <p>GPT-powered Discord bot built to help students learn software development</p>
    </div>

    <div class="app">
      <img src="/assets/masterpiece-creator.png" alt="App 2" />
      <a href="https://github.com/move-fast-and-break-things/masterpiece-creator"><h3>The Masterpiece creator</h3></a>
      <p>Masterpiece creator uses the discoart library to create Disco Diffusion artworks</p>
    </div>

    <div class="app">
      <img src="/assets/Spider.png" alt="App 3" />
      <a href="https://github.com/move-fast-and-break-things/spider-recognizer"><h3>Spider-recognizer</h3></a>
      <p>The Spider Recognizer App instantly identifies spider species using image recognition.</p>
    </div>

    <div class="app">
      <img src="/assets/project-blank.png" alt="App 4" />
      <a href="https://github.com/move-fast-and-break-things/audio-compression"><h3>Audio Compression</h3></a>
      <p>The Audio Compression App is a tool that allows you to reduce the file size of your audio files.</p>
    </div>

    <div class="app">
      <img src="/assets/project-blank.png" alt="App 5" />
      <a href="https://github.com/move-fast-and-break-things/Parrots"><h3>Parrots</h3></a>
      <p>The Parrot Classifier is an application powered by machine learning that identifies different species of parrots.</p>
    </div>

    <div class="app">
      <img src="/assets/project-blank.png" alt="App 6" />
      <a href="https://github.com/move-fast-and-break-things/spacemen"><h3>Spacemen</h3></a>
      <p>The Spacemen Classifier is an application that identifies different types of spacemen or astronauts.</p>
    </div>

    <div class="app">
      <img src="/assets/project-blank.png" alt="App 7" />
      <a href="https://github.com/move-fast-and-break-things/food-recogniser"><h3>Food-recogniser</h3></a>
      <p>The Food Recognizer app is a tool that utilizes image recognition technology to identify different types of food.</p>
    </div>
  </div>
</main>
