<main>
  <h1>catalog</h1>
  <div class="first-app">
      <img src="/assets/Minerva1.png" alt="App 1" />
      <a href="#"><h3>Minerva</h3></a>
      <p>GPT-powered Discord bot built to help students learn software development</p>
  </div>
</main>
