<main>
  <div class="main-container">
    <div class="content-container">
      <div class="info-section">
        <h1>Join Our Club</h1>
        <p>If you want to contact us or join our club, simply click the 'Join Now' button. It will open a form where you can provide your details. Once you submit the form, we will receive your answers and promptly send you an email with further instructions.</p>
      </div>
      <a href="https://tally.so/r/waeoW9" class="join-button">Join Now</a>
    </div>
  </div>
</main>
