<main>
  <div class="main-container">
    <h1>contacts</h1>
    <p>Join our club and become a part of our vibrant community where you can develop your programming skills, find inspiration, and connect with like-minded individuals who share your passion for coding. Together, we strive to create a supportive space where learning is fun, and personal growth is nurtured.</p>
    <ul>
      <li><a href="">Email</a></li>
      <li><a href="">GitHub</a></li>
    </ul>
  </div>
</main>
