<main>
  <div class="main-container">
        <h1>Minerva</h1>
        <p>Minerva is a GPT-powered Discord bot built to help students learn software development.</p>
        <p>
            <a href="https://github.com/move-fast-and-break-things/minerva">GitHub Repository</a>
        </p>
    </div>
</main>