* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; 
}

body {
  background-color: #fffdfa;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#f3f1ea;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li {
  color: #2b2c2c;
  text-align: center;
  float: left; 
  margin: 0 10px;
  font-size: 24px;
  list-style-type: none;
}

nav ul {
  display: flex;
  align-items: center;
}

.name {
  color: #2b2c2c;
  text-align: center;
  float: right;
  margin: 0 10px;
  font-size: 24px;
}  
    
.clear {
  clear: both;
}
    
h1 {
  font-size: 80px;
  color: #2b2c2c;
  margin-right: 40px;
  padding-top: 10px;
  font-family: 'Audiowide', cursive;
}
    
h2 {
  font-family: 'Audiowide', cursive;
}

main {
  flex-grow: 1;
}

p {
  font-size: 27px;
  margin-right: 40px;
}

a {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  color: #2d2e2e;
  text-decoration: none;
}
    
footer {
  background-color: #fff;
  height: 50px;
}

.catalog-list {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

.app {
  width: 33.33%;
  padding: 20px;
  box-sizing: border-box;
}

.app img {
  max-width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.app p {
  margin: 0px;
  font-size: 18px
}

h3 {
  font-size: 20px;
}
  
a:hover {
  text-decoration: underline;
}

.main-container {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}

.description-catalog {
  flex: 1;
  padding-right: 20px;
  padding-bottom: 25px;
}

.catalog-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-image img {
  max-width: 100%;
  max-height: 100%;
}

.greetings {
  margin-top: 20px;
}

.greetings-two p {
  font-size: 20px;
  margin-top: 20px;
}

.logo {
  margin-left: 40px;
}

.logo img {
  height: 80px;
}

nav ul li a img {
  height: 40px;
  padding-right: 20px;
}

.about-container {
  display: flex;
  align-items: flex-start;
}

.about-text {
  flex: 1.9;
}

.about-text h1 {
  margin-bottom: 10px; /* Add some spacing below the heading */
}

.about-image {
  flex: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.values-container {
  padding: 60px;
  background-color: #fff;
}

.values-container h2 {
  font-size: 44px;
}

.values-container li {
  font-size: 20px;
  padding-top: 10px;
}

.content-container {
  display: flex;
  align-items: center; /* Vertically align items */
}

.info-section {
  flex: 1.3;
}

.join-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 40px;
  font-weight: bold;
  background-color: #ff9900;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-left: auto; /* Move the button to the right */
  flex: 0.7;
  text-align: center;
}

.join-button:hover {
  background-color: #e57b00;
}

.catalog-list {
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.github-link {
  padding-top: 20px;
}

.instruction-container {
  padding: 60px;
  background-color: #fff;
}

.instruction-container h2 {
  font-size: 44px;
}

.instruction-container ul {
  padding-left: 20px;
}

.instruction-container ol {
  padding-left: 20px;
}

.instruction-container li {
  font-size: 20px;
  padding-top: 10px;
}

.instruction-container p {
  padding-top: 20px;
}

.instruction-container h4 {
  padding-top: 20px;
  font-style: italic;
  padding-left: 80px;
}

.instruction-container h2 {
  font-size: 44px;
}

.instruction-container h3 {
  font-size: 40px;
  padding-top: 20px;
}