* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; 
}

body {
  background-color: #f1fbff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#ffffff;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li {
  color: #3d337b;
  text-align: center;
  float: left; 
  margin: 0 10px;
  font-size: 24px;
  list-style-type: none;
}

.name {
  color: #3d337b;
  text-align: center;
  float: right;
  margin: 0 10px;
  padding: 40px;
  font-size: 24px;
}  
    
.clear {
  clear: both;
}
    
h1 {
  font-size: 80px;
  color:#3d337b;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 10px;
}
    
main {
  flex-grow: 1;
}

p {
  font-size: 27px;
  margin-left: 40px;
  margin-right: 40px;
}

a {
  font-size: 25px;
  margin-left: 40px;
  margin-right: 40px;
}
    
footer {
  background-color: #fff;
  height: 50px;
}
    
.first-app {
  text-align: left;
  width: 70%;
  margin: 40px;
}
  
.first-app img {
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
a {
  color: #3d337b;
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;
}

.container-catalog {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.description-catalog {
  flex: 1;
  padding-right: 20px;
  padding-bottom: 25px;
}

.catalog-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-image img {
  max-width: 100%;
  max-height: 100%;
}

.greetings {
  margin-top: 20px;
}

.greetings-two p {
  font-size: 20px;
  margin-top: 20px;
}
